<?xml version="1.0"?>
<!--
/**
 * @author Developers-Alliance team
 * @copyright Copyright (c) 2024 Developers-alliance (https://www.developers-alliance.com)
 * @package Abandoned Cart for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="Magento_Sales::sales_operation">
                        <resource id="DevAll_Abandoned::abandoned" title="Abandoned Cart" translate="title">
                            <resource id="DevAll_Abandoned::resend_email" title="Resend Email" translate="title"/>
                            <resource id="DevAll_Abandoned::config" title="Config" sortOrder="55" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
